.loginpage {
  background: black;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.login {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  justify-content: left;
  align-items: left;
  height: 100vh;
  margin-top: 10rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.headertext {
  font-size: 5.5rem;
  padding-bottom: 20px;
  color: white;
}
.headerp {
  padding-top: 30px;
  padding-bottom: 4rem;
}
.login-form button {
  margin-top: 10px;
}

.x-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.x-logo > img {
  color: white;
  max-width: 350px;
  max-height: 350px;
}
.duzCubuk {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 50%;
}

.custom-lineLeft,
.custom-lineRight {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.flatline-text {
  font-size: 14px;
  color: white;
}
.kayitButonu {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: 0px !important;
  width: 50% !important;
  margin-bottom: 10px !important;
}

.beyazButonlar {
  background-color: white !important ;
  border: none !important;
  color: black !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: 0px !important;
  width: 50% !important;
}
.girisButonu {
  background-color: black !important ;
  border: 1px solid !important;
  color: var(--twitter-color) !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: 0px !important;
  width: 50% !important;
}
