.communitiesBody {
  background-color: black;
  color: white;
  flex: 0.4;
  border-right: 1px solid gray;
  max-width: fit-content;
  overflow-y: scroll;
  min-width: 300px;
}

.communitiesBody::-webkit-scrollbar {
  display: none;
}
