.twetBox {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--twitter-background);
  padding-right: 10px;
}

.twetBox form {
  display: flex;
  flex-direction: column;
}

.twetBox_input {
  padding: 20px;
  display: flex;
}

.twetBox_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.twetBox_twetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  width: 80px !important;
}
