.profilbutonu {
  background-color: none !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  width: 90% !important;
  display: flex;
  align-items: center;
}

.profilbutonuContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.profilbutonAvatar {
  margin-right: 10px;
}

.profilbutonText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.post_headerUsername {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
