.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  width: max-content;
  color: white;
}

.sidebarOption:hover {
  background-color: gray;
  color: white;
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebarOption > h2 {
  font-weight: 400px;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: grey;
}
